.error {
  text-align: center;
  padding-bottom: 50px;

  &__message {
    padding-top: 50px;
    margin-bottom: 15px;
  }

  &__info {
    font-size: 16px;
  }

  &__link {
    &:hover,
    &:focus-visible,
    &:active {
      color: #0044f0;
    }
  }
}
