.order {
  &__container {
    padding: 32px 0 60px;

    @media (min-width: 768px) {
      padding: 60px 0 80px;
    }

    @media (min-width: 1024px) {
      padding: 60px 149px 100px;
    }

    @media (min-width: 1440px) {
      padding: 60px 304px 100px;
    }
  }

  &__wrapper {
    border: 1px solid #eeeff2;
    border-radius: 16px;
    padding: 24px 16px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 60px 151px;
    }

    @media (min-width: 1024px) {
      padding: 60px 159px;
    }

    @media (min-width: 1440px) {
      padding: 60px 212px;
    }
  }

  &__info {
    display: grid;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: 768px) {
      grid-template-areas: 'title price' 'number .';
      font-size: 20px;
      gap: 12px;
    }
  }

  &__title {
    @media (min-width: 768px) {
      grid-area: title;
    }
  }

  &__price {
    @media (min-width: 768px) {
      grid-area: price;
      justify-self: flex-end;
    }
  }

  &__number {
    font-size: 12px;
    padding: 4px 8px;
    width: max-content;
    border-radius: 32px;
    background-color: #eeeff2;

    @media (min-width: 768px) {
      grid-area: number;
    }
  }

  &__table {
    margin: 20px 0 24px;
  }

  &__link-button {
    display: block;
    text-align: center;
    padding: 12px 0;
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #0044f0;
    border-radius: 32px;
    outline: none;
    width: 100%;

    &:hover {
      background-color: #0945de;
    }

    &:focus-visible {
      background-color: #0044f0;
      border-color: #042f9c;
    }
  }
}
